# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake
/Ueb01/cmake-build-debug
/Ueb01/CMakeLists.txt

/Ueb03/cmake-build-debug
/Ueb03/.idea
Ueb05/cmake-build-debug/
Ueb04/
Ueb04-2/
Ueb05/.idea/
Ueb06/.idea/.gitignore
Ueb06/.idea/misc.xml
Ueb06/.idea/modules.xml
Ueb06/.idea/Ueb06.iml
Ueb06/.idea/vcs.xml
Ueb06/cmake-build-debug/cmake_install.cmake
Ueb06/cmake-build-debug/CMakeCache.txt
Ueb06/cmake-build-debug/Makefile
Ueb06/cmake-build-debug/Ueb06.cbp
Ueb06/cmake-build-debug/CMakeFiles/clion-environment.txt
Ueb06/cmake-build-debug/CMakeFiles/clion-log.txt
Ueb06/cmake-build-debug/CMakeFiles/cmake.check_cache
Ueb06/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
Ueb06/cmake-build-debug/CMakeFiles/CMakeOutput.log
Ueb06/cmake-build-debug/CMakeFiles/Makefile.cmake
Ueb06/cmake-build-debug/CMakeFiles/Makefile2
Ueb06/cmake-build-debug/CMakeFiles/progress.marks
Ueb06/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Ueb06/cmake-build-debug/CMakeFiles/3.16.5/CMakeCCompiler.cmake
Ueb06/cmake-build-debug/CMakeFiles/3.16.5/CMakeCXXCompiler.cmake
Ueb06/cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_C.bin
Ueb06/cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_CXX.bin
Ueb06/cmake-build-debug/CMakeFiles/3.16.5/CMakeRCCompiler.cmake
Ueb06/cmake-build-debug/CMakeFiles/3.16.5/CMakeSystem.cmake
Ueb06/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
Ueb06/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
Ueb06/cmake-build-debug/CMakeFiles/Ueb06.dir/build.make
Ueb06/cmake-build-debug/CMakeFiles/Ueb06.dir/cmake_clean.cmake
Ueb06/cmake-build-debug/CMakeFiles/Ueb06.dir/CXX.includecache
Ueb06/cmake-build-debug/CMakeFiles/Ueb06.dir/depend.internal
Ueb06/cmake-build-debug/CMakeFiles/Ueb06.dir/depend.make
Ueb06/cmake-build-debug/CMakeFiles/Ueb06.dir/DependInfo.cmake
Ueb06/cmake-build-debug/CMakeFiles/Ueb06.dir/flags.make
Ueb06/cmake-build-debug/CMakeFiles/Ueb06.dir/link.txt
Ueb06/cmake-build-debug/CMakeFiles/Ueb06.dir/linklibs.rsp
Ueb06/cmake-build-debug/CMakeFiles/Ueb06.dir/objects1.rsp
Ueb06/cmake-build-debug/CMakeFiles/Ueb06.dir/progress.make
